/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color and font for the body */
body {
    background-color: #a14e7c;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Style for the main container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for headers */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    color: #444;
}

/* Style for paragraphs */
p {
    margin-bottom: 20px;
}

/* Style for links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style for lists */
ul, ol {
    margin-bottom: 20px;
    padding-left: 20px;
}

/* Style for buttons */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.social-media a {
    font-size: 2em; /* Adjust the size as needed */
    margin: 0 10px; /* Adjust the margin as needed */
}

.portfolio-item {
    margin-bottom: 20px; /* Adjust the value as needed */
}